.editContent {

  height: 500px;
  overflow-y: auto;
  border: 1px solid black;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.account {

 list-style-type: none;
 padding: 20px;
 font-size: 20px;
}

img {
  height: 20px;
  width: 20px;
  margin-right: 10px;

}