.addForm {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input , label {

    width: 80%;
    padding: 10px;
}

#button {

    margin-top: 30px;
}