.kard-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 18px;
  padding: 10px 0 0 0;
  height: 84vh;
}

.kard-form {
  height: 100%;
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kard-fieldset {
  border: none;
  height: 100%;
  width: 90%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkbox-container-container {
  height: 270px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-label {
  margin-left: 28px;
}

#send-input {
  margin-left: 28px;
  border: 1px solid black;
  border-radius: 2px;
  height: 30px;
}

.check-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.profile-img {
  margin-left: 50px;
  width: 414px;
  height: 100px;
}

.send-button {
  margin-left: 28px;
  height: 50px;
  width: 88%;
  margin-top: 20px;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 2px;
}
