.kard-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 18px;
  padding: 10px 0 40px 0;
}

#send-input {
  border: 1px solid black;
  border-radius: 2px;
  height: 30px;
  width: 100%;
  margin: 20px 0;
}

.check-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.profile-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.kard-form {
  padding-top: 20px;
}

.kard-fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkbox-container-container {
  height: 200px;
  overflow-y: auto;
}

.send-button {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 2px;
}
