.nav-bar {
  height: 40px;
}

nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

a {
  padding: 15px;
  text-decoration: none;
}

.send-icon {
  height: 32px;
  width: 32px;
}
